.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;

    :focus {
        border-color: #0366d6;
        outline: none;
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    }
}

button {
    margin-top: 5px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    // line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 8px 23px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;

    :hover {
        border-color: #000000;
        background: #f7f7f7;
    }
}